{:dependencies  [[org.clojure/clojure "1.5.1"]
                 [org.clojure/clojurescript "0.0-2127"]
                 [tailrecursion/boot.core "1.1.0"]
                 [tailrecursion/boot.task "1.0.0"]
                 [tailrecursion/hoplon "4.0.7" :exclusions [org.clojure/clojure]]
                 [http-kit "2.1.13"]
                 [compojure "1.1.5"]
                 [ring/ring-devel "1.1.8"]
                 [ring/ring-core "1.1.8"]                 
                 [liberator "0.10.0"]
                 [clj-time "0.6.0"]]
 :require-tasks [[tailrecursion.boot.task    :refer :all]
                 [tailrecursion.hoplon.boot  :refer :all]]
 :public        "resources/public"
 :src-static    #{"resources/assets"}
 :src-paths     #{"src"}}
